<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155198768-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-155198768-4');
    </script>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nintendo Switch用ソフト「あつまれ どうぶつの森」のアイテムチェックリストです。">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <%- include('./_header') %>
      <div class="content container-fluid">
        <div class="row">
          <div class="col-12 text-center message" id="message">
            <% if (!user) { %>
              <p>Twitterアカウントでログインすると記録ができます。</p>
            <% } %>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-10 col-12 text-right">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <% if (!user || user.hemisphere === 'northern') { %>
                <label class="btn btn-outline-primary active">
                  <input type="radio" name="hemisphere" value="northern" onchange="changeHemisphere(this.value)" checked> 北半球
                </label>
                <label class="btn btn-outline-primary">
                  <input type="radio" name="hemisphere" value="southern" onchange="changeHemisphere(this.value)"> 南半球
                </label>
              <% } else if (user.hemisphere === 'southern') { %>
                <label class="btn btn-outline-primary">
                  <input type="radio" name="hemisphere" value="northern" onchange="changeHemisphere(this.value)"> 北半球
                </label>
                <label class="btn btn-outline-primary active">
                  <input type="radio" name="hemisphere" value="southern" onchange="changeHemisphere(this.value)" checked> 南半球
                </label>
              <% } %>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-1"></div>
          <div class="col-lg-10 col-12">
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">項目</th>
                  <th scope="col">収集数</th>
                  <th scope="col">収集割合</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">ムシ</th>
                  <td><%= user ? user.bugs.length : '-' %> / 80</td>
                  <td>
                    <div class="progress">
                      <% let bugRate = user ? Math.round((user.bugs.length / 80) * 100 * 10) / 10 : 0 %>
                      <div class="progress-bar" role="progressbar" style="width: <%= bugRate %>%" aria-valuenow="<%= bugRate %>" aria-valuemin="0" aria-valuemax="100"><%= bugRate %>%</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">サカナ</th>
                  <td><%= user ? user.fishes.length : '-' %> / 80</td>
                  <td>
                    <div class="progress">
                      <% let fishRate = user ? Math.round((user.fishes.length / 80) * 100 * 10) / 10 : 0 %>
                      <div class="progress-bar" role="progressbar" style="width: <%= fishRate %>%" aria-valuenow="<%= fishRate %>" aria-valuemin="0" aria-valuemax="100"><%= fishRate %>%</div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">かせき</th>
                  <td><%= user ? user.fossils.length : '-' %> / 73</td>
                  <td>
                    <div class="progress">
                      <% let fossilRate = user ? Math.round((user.fossils.length / 73) * 100 * 10) / 10 : 0 %>
                      <div class="progress-bar" role="progressbar" style="width: <%= fossilRate %>%" aria-valuenow="<%= fossilRate %>" aria-valuemin="0" aria-valuemax="100"><%= fossilRate %>%</div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
      <div class="row ad">
        <!-- admax -->
        <script src="https://adm.shinobi.jp/s/736782ac66a4a75cfad57b26369de10d"></script>
        <!-- admax -->
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      function changeHemisphere(hemisphere) {
        $.ajax({
          url: '/update',
          type: 'POST',
          data: {
            'hemisphere': hemisphere
          }
        }).then((data) => {
          let tag = document.getElementById('message');
          tag.innerHTML = data.message;
          tag.classList.add('success-message');
        }).catch((error) => {
          let tag = document.getElementById('message');
          tag.innerHTML = error.responseJSON.error;
        });
      }
    </script>
  </body>
</html>
